input {
  border: 1px solid $green;
  border-radius: 5px;
  margin: 5px;
  background-color: $white;
  color: $black;
  outline: none;
  font-weight: 300;
  height: 2em;
}
select{
  height: 2em;
  margin: 5px;
  border-radius: 5px;
}
input:not([type='submit']){
  width: 25%;
}
textarea {
  margin: 5px;
  border-radius: 5px;
  background-color: $white;
  outline: none;
  border: 1px solid $green;
  box-shadow: none;
  font-weight: 300;
  width: 100%;
  color: $black;
}
label {
  margin: 5px;
}
input:checked{
  background-color: $white;
  color: $white;
}
input[type='radio']{
  height: 2em;
  color: $white;
}
select {
  height: 2em;
  background-color: $white;
  border: 1px solid $green;
  color: $black;
  outline: none;
  option{
    color: $black;
  }
}
select[multiple]{
  height: 5em;
}
input:focus, textarea:focus, select:focus{
  border: 1px solid $black;
}
input[type='submit']:hover{
  background-color: $grey;
  color: $white;
  border: 1px solid $green
}
input[type='submit']:focus{
  background-color: $white;
  color: $green;
  border: 1px solid $green;
}
input[type='submit']{
  font-size: 1.2em;
}
.btn {
  padding: 8px;
}
input.sml {
  font-size: .5em;
  width: 100px;
}
.delete {
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
}
.category_tag {
  color: $white;
  background-color: $green;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
}
.empty {
  margin: 5px;
}
#categories {
  width: 20%;
}
