.avatar {
  display: inline-block;
  width: 40%;
  box-sizing: border-box;
  overflow: auto;
  border: 2px solid $grey;
}
.gearlistthumbnail {
  height: 50px;
  border: 2px solid $grey;
  vertical-align: middle;
}
.gearimage {
  height: 300px;
  border: 2px solid $grey;
  vertical-align: top;
  display: inline-block;
}
